.mixin-flex-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
}

.mixin-flexflow(@direction: row; @wrap: nowrap) {
    -webkit-flex-flow: @direction @wrap;
    -moz-flex-flow: @direction @wrap;
    -ms-flex-direction: @direction;
    -ms-flex-wrap: @wrap;
    -o-flex-flow: @direction @wrap;
    flex-flow: @direction @wrap;
}

.mixin-flex(@grow: 0; @shrink:0; @basis: auto) {
    -webkit-flex: @grow @shrink @basis;
    -moz-flex: @grow @shrink @basis;
    -ms-flex: @grow @shrink @basis;
    -o-flex: @grow @shrink @basis;
    flex: @grow @shrink @basis;
}

.mixin-flex-nogrow() {
    .mixin-flex(0, 0, auto);
}

.mixin-flex-grow() {
    .mixin-flex(1, 1, auto);
}

.mixin-flexflow-column-nowrap() {
    .mixin-flex-box();
    .mixin-flexflow(column, nowrap);

}

.mixin-flexflow-row-nowrap() {
    .mixin-flex-box();
    .mixin-flexflow(row, nowrap);
}
