.hover-child(@display) {
    .hover-parent {
        .hover-child-@{display} {
            display: none;
        }
        .hover-hide-child-@{display} {
            display: @display;
        }
        &:hover .hover-child-@{display} {
            display: @display;
        }
        &:hover .hover-hide-child-@{display} {
            display: none;
        }
    }
}

.hover-child-direct(@display) {
    .hover-parent {
        &>.hover-child-direct-@{display} {
            display: none;
        }
        &:hover>.hover-child-direct-@{display} {
            display: @display;
        }
        &>.hover-hide-child-direct-@{display} {
            display: @display;
        }
        &:hover>.hover-hide-child-direct-@{display} {
            display: none;
        }
    }
}

.hover-child-filter(@display, @filter) {
    .hover-parent-@{filter} {
        .hover-child-@{display}-@{filter} {
            display: none;
        }
        .hover-hide-child-@{display}-@{filter} {
            display: @display;
        }
        &:hover .hover-child-@{display}-@{filter} {
            display: @display;
        }
        &:hover .hover-hide-child-@{display}-@{filter} {
            display: none;
        }
    }
}

.hover-child-direct-filter(@display, @filter) {
    .hover-parent-@{filter} {
        &>.hover-child-direct-@{display}-@{filter} {
            display: none;
        }
        &:hover>.hover-child-direct-@{display}-@{filter} {
            display: @display;
        }
        &>.hover-hide-child-direct-@{display}-@{filter} {
            display: @display;
        }
        &:hover>.hover-hide-child-direct-@{display}-@{filter} {
            display: none;
        }
    }
}

.hover-child(block);
.hover-child(inline-block);
.hover-child(inline);
.hover-child-direct(block);
.hover-child-direct(inline-block);
.hover-child-direct(inline);
@hover-filters: "a",
"b",
"c",
"d",
"e",
"f";
.generate-hovers(@i) when (@i =< length(@hover-filters)) {
    .hover-child-filter(block, e(extract(@hover-filters, @i)));
    .hover-child-filter(inline-block, e(extract(@hover-filters, @i)));
    .hover-child-filter(inline, e(extract(@hover-filters, @i)));
    .hover-child-direct-filter(block, e(extract(@hover-filters, @i)));
    .hover-child-direct-filter(inline-block, e(extract(@hover-filters, @i)));
    .hover-child-direct-filter(inline, e(extract(@hover-filters, @i)));
    .generate-hovers((@i + 1));
}

.generate-hovers(1);
