input[type='checkbox'].fa {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.28571429em;
    height: 1em;
    margin: -2px 0px 0px;
    vertical-align: middle;
    text-align: right;
    &:not(:checked) {
        // margin-left: -1px; // zoom: 1.08;
        &:hover {
            // zoom: 1;
            // width: 1.39em;
        }
    }
    &:focus {
        outline: none;
    }
    &:before {
        content: "\F096";
    }
    &:hover:before {
        content: "\F0C8";
    }
    &:checked {
        &:before {
            content: "\F14A";
        }
    }
}
