@import "../jorb-variables.less";
// changes to iconav provided by bootstrap dashboard theme ------------------------------------------------------------
nav {
    &.iconav {
        width: 60px;
        background-color: #333;
        z-index: 1000;
        .iconav-nav-icon {
            width: 40px;
            line-height: 40px;
            text-align: center;
            margin-right: 5px;
        }
        .iconav-nav>li.active>a {
            background-color: @brand-primary;
            color: #ffffff;
        }
        .iconav-nav>li:not(.active)>a:hover {
            background-color: #666666;
            color: #fff;
        }
        .iconav-nav>li>a {
            padding: 8px 10px;
            line-height: 22px;
            font-size: 22px;
            text-align: left;
            white-space: nowrap !important;
            color: #787878;
            border: none !important;
            -webkit-transition: background-color 200ms, color 200ms;
            -moz-transition: background-color 200ms, color 200ms;
            -ms-transition: background-color 200ms, color 200ms;
            -o-transition: background-color 200ms, color 200ms;
            transition: background-color 200ms, color 200ms;
        }
        &.iconav-hover-expand:hover {
            width: 200px;
            -webkit-transition: width 250ms;
            -moz-transition: width 250ms;
            -ms-transition: width 250ms;
            -o-transition: width 250ms;
            transition: width 250ms;
        }
        &.iconav-hover-expand .iconav-nav-label {
            white-space: nowrap !important;
            font-size: 13px;
            line-height: 24px;
        }
        &.iconav-hover-expand .iconav-nav-label {
            display: inline !important;
        }
        .iconav-brand {
            background-color: transparent;
        }
        .iconav-brand-icon img {
            max-height: 40px;
            max-width: 40px;
        }
    }
}
