@import (reference) "../jorb-variables";
.workflow-panels {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.workflow-panel {
    width: 160px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    margin: 0 10px;
    &:hover {
        text-decoration: none;
    }
    .workflow-btn-group {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        opacity: 0;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -ms-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
    }
    &.active>.workflow-btn-group,
    &.complete:hover>.workflow-btn-group,
    &.work-complete:hover>.workflow-btn-group {
        opacity: 1;
    }
    .workflow-btn-group .btn {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        font-size: 9px;
        padding: 4px 8px 1px 8px
    }
    .workflow-caption {
        font-size: 11px;
        padding: 0 10px;
        color: #999999;
        opacity: 0;
        margin-top: 30px;
        text-align: center;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -ms-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
    }
    &.active>.workflow-caption {
        opacity: 1;
    }
}

.workflow-panels-hover {
    .workflow-panel:hover {
        .workflow-caption {
            opacity: 1;
        }
    }
}

.icon-tile {
    width: 160px;
    height: 160px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid transparent;
    text-align: center;
    -webkit-transition: border-color 500ms;
    -moz-transition: border-color 500ms;
    -ms-transition: border-color 500ms;
    -o-transition: border-color 500ms;
    transition: border-color 500ms;
    .icon-tile-icon {
        color: rgba(0, 0, 0, .2);
        font-size: 65px;
        margin: 20px 0 20px 0;
        -webkit-transition: color 250ms;
        -moz-transition: color 250ms;
        -ms-transition: color 250ms;
        -o-transition: color 250ms;
        transition: color 250ms;
    }
    .icon-tile-title {
        color: #666666;
    }
    .icon-tile-title,
    .icon-tile-subtitle {
        padding: 0;
        margin: 0;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        text-decoration: none;
    }
    .icon-tile-subtitle {
        font-size: 10px;
        color: #999999;
    }
    .icon-tile-status {
        margin-top: 5px;
        font-size: 18px;
    }
    &.icon-tile-md {
        .icon-tile-icon {
            font-size: 45px;
            margin: 10px 0 10px 0;
        }
        .icon-tile-title {
            font-size: 12px;
        }
        .icon-tile-subtitle {
            font-size: 10px;
        }
    }
    &.icon-tile-sm {
        .icon-tile-icon {
            font-size: 25px;
            margin: 5px 0 5px 0;
        }
        .icon-tile-title {
            font-size: 12px;
        }
        .icon-tile-subtitle {
            font-size: 10px;
        }
    }
    &.icon-tile-left {
        text-align: left;
        width: 100%;
        height: 90px;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        .icon-tile-icon {
            position: absolute;
            margin: 0;
            left: 0;
            top: 10px;
            width: 60px;
            text-align: center;
        }
        .icon-tile-title {
            position: relative;
            text-align: left;
            top: 50%;
            line-height: 12px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            small {
                color: #999999;
                font-size: .85em;
            }
        }
    }
    &.icon-tile-left.icon-tile-md {
        height: 55px;
        .icon-tile-icon {
            top: 0;
            width: 45px;
        }
        .icon-tile-title {
            padding-left: 55px;
        }
    }
    &.icon-tile-left.icon-tile-sm {
        height: 35px;
        .icon-tile-icon {
            top: 2px;
            width: 25px;
        }
        .icon-tile-title {
            padding-left: 35px;
        }
    }
}

:hover>.icon-tile.icon-tile-hover,
.icon-tile.icon-tile-hover:hover {
    border: 3px solid #f3f3f3;
}

.workflow-panels-hover .workflow-panel:hover .icon-tile,
.active>.icon-tile,
:hover>.icon-tile.active,
.icon-tile.active,
.icon-tile:hover.active {
    border: 3px solid #eaeaea;
}

.workflow-panels-hover .workflow-panel:hover .icon-tile-icon,
.active .icon-tile-icon,
.icon-tile.icon-tile-warning .icon-tile-icon {
    color: @brand-warning;
}

.icon-tile.icon-tile-primary .icon-tile-icon {
    color: @brand-primary;
}

.icon-tile.icon-tile-success .icon-tile-icon {
    color: @brand-success;
}

.icon-tile.icon-tile-info .icon-tile-icon {
    color: @brand-info;
}

.icon-tile.icon-tile-danger .icon-tile-icon {
    color: @brand-danger;
}

.nav-icon-tabs {
    .icon-tile {
        width: auto;
        height: auto;
    }
}
