.nav.nav-tabs:after {
  content: '';
  display: block;
  clear: both;
}

.nav.nav-tabs > li > a:focus,
.nav.nav-tabs > li > a:hover {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-color: transparent;
}

.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li.active > a:focus,
.nav.nav-tabs > li.active > a:hover {
  color: #000000;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav.nav-tabs > li > a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}
